<section class="experience">
    <h2 class="title">Experience</h2>
    <div class="container">
        <img class="logo" src="assets/img/experience/CTDLogo.png" alt="CTDLogo">
        <div class="content">
          <h3>Dental appoinment booking system / Developer</h3>
          <h4>Certified Tech Developer (Backend 1 project), Buenos Aires-Argentina</h4>
          <h4>March, 2022 - April, 2022</h4>
          <ul>
            <li>Implement a system to manage the reservation of appointments for a dental clinic with Java.</li>
            <li>Api rest build with: Java, Spring Boot, Hibernate, JUnit,  MySql.</li>
            <li>Front-end build with: React, Bootstrap.</li>
          </ul>
        </div>
    </div>
    <div class="container">
      <img class="logo" src="assets/img/experience/CityLogo.png" alt="CityLogo">
      <div class="content">
        <h3>"Centenario" clock redesign / Team Leader</h3>
        <h4>Municipality of Allen (Internship), Allen-Argentina</h4>
        <h4>April, 2020 - December, 2020</h4>
        <ul>
          <li>Research and document the most useful functions of a community clock in the city of Allen and increase their habitants comfort 
            by the redesigning the old clock and assigning new visual modifications as a solution to their needs.</li>
          <li>Develop a prototype with the Arduino plataform together with a team of 5 people.</li>
          <li>Give a talk for more than 30 people explaining the project process.</li>
        </ul>
      </div>
  </div>
  <div class="container">
    <img class="logo" src="assets/img/experience/CETLogo.png" alt="CETLogo">
    <div class="content">
      <h3>School clock design with automatic bell / Team Leader</h3>
      <h4>Technical High School Nº8, Allen-Argentina</h4>
      <h4>April, 2019 - December, 2019</h4>
      <ul>
        <li>Research and document the main problems that occur daily in the schools that have manual bells and design a new model 
          to facilitate their use by incorporating visual modifications and an automatic bell system according to their needs.</li>
        <li>Develop a prototype with the Arduino plataform, a PCB and 3D printer together with a team of 3 people.</li>
        <li>Implement the new design and evaluate its functionality through feedback from previous users.</li>
        <li>Give a talk for more than 20 people explaining the project process.</li>
      </ul>
    </div>
</div>
  </section>
