main .login{
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 5.7rem;
    margin-bottom: 5.7rem;
    background-color:#00358E;
    min-width: 20rem;
    width: 30%;
}
main .login h2{
    margin-top: 2rem;
    font-size: 4rem;
}
main .login form{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
main .login form .label-input{
    display: flex;
    flex-direction: column;
}
main .login form label{
    margin-left: 0;
    margin-top: 2rem;
    font-size: 1.5rem;
}
main .login form input{
    font-size: 1.5rem;
}
main .login form button{
    margin-top: 2rem;
    background-color:#00358E;
    color: white;
    font-size: 1.4rem;
    border-style: solid;
    border-color: white;
    padding: .5rem 4rem;
    transition: .2s;
    border-radius: 3rem;
}
main .login form button:hover{
    color: black;
    background-color: white;
    transform: scale(1.1);
    transition: .2s;
}
main .login .alert-success{
    display: flex;
    margin-top: 7rem;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    gap: 7rem;
}
main .login .alert-success a{
    text-decoration: none;
    color: white;
    background-color:#00358E;
    color: white;
    font-size: 1.4rem;
    border-style: solid;
    border-color: white;
    padding: .5rem 4rem;
    transition: .2s;
    border-radius: 3rem;
    margin-bottom: 2.7rem;
}
main .login .alert-success a:hover{
    color: black;
    background-color: white;
    transform: scale(1.1);
    transition: .2s;
}
main .login .alert p{
    position: absolute;
    display: flex;
    justify-content: center;
}
main .login .alert{
    display: flex;
    justify-content: center;
}


