.skills{
    margin: 2.5rem 1rem;
    border-style: solid;
    border-color: #B5B5B5;
    border-width: .15rem;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgb(0, 0, 0,20%);
}
.skills .top{
    display: flex;
    align-items: center;
    gap: 3px;
}
.skills .top h3{
    margin: 0;
}
.skills .title{
    margin-left: 0;
    padding: 1rem;
    font-size: 2rem;
}
.skills .add{
    display: flex;
    margin-right: 0;
    font-size: 2rem;
    background-color: white;
    border-style: hidden;
    transition: .2s;
    padding: .5rem 0rem .5rem .5rem;
    align-items: center;
}
.skills .delete, .skills .edit{
    display: flex;
    margin-right: 0;
    font-size: 2rem;
    background-color: white;
    border-style: hidden;
    transition: .2s;
    padding: 0rem .5rem .2rem .5rem;
    align-items: center;
}
.skills .delete i, .skills .edit i{
    font-size: 30px;
}

.skills .edit i:hover, .skills .delete i:hover, .skills .add i:hover{
    transform: scale(1.1);
    transition: .2s;
}
.skills .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.3rem;
}
.skills .content{
    margin-top: .5rem;
    width: 18rem;
}
.skills .title{
    padding: 1rem 1rem 0rem 1rem;
    font-size: 2rem;
}
.type{
    margin-top: 1rem;
    width: 20rem;
}
.percentage{
    padding-bottom: 1rem;
}
.bar{
    background-color: rgb(184, 184, 184);
    margin-left: 0;
    width: 18rem;
    border-radius: 1rem;
}
.progressPercentage{
    padding: .25rem;
    background-color: #43b600;
    width: 0%;
    margin-left: 0;
    border-radius: 1rem;
}
.skills .name-icons{
    display: flex;
    align-items: flex-end;
}
.skills .name-icons p{
    margin-left: 0;
}
.skills .name-icons .icons{
    display: flex;
    margin-right: 0;
}
.options{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: .5rem;
}
.save{
    background-color: #00358E;
    color: white;
    padding: .5rem 1.5rem;
    font-size: .8rem;
    border-radius: 20px;
    border-style: hidden;
    transition: .2s;
    margin: 0;
}
.save:hover{
    transform: scale(1.05);
    background-color: #001B49;
    transition: .2s;
}
.cancel{
    background-color: #8e0000;
    color: white;
    padding: .5rem 1.5rem;
    font-size: .8rem;
    border-radius: 20px;
    border-style: hidden;
    transition: .2s;
    margin: 0;
}
.cancel:hover{
    transform: scale(1.05);
    background-color: #460000;
    transition: .2s;
}
.hide{
    display: none;
}
.skills label{
    font-weight: bold;
}
.skills input{
    font-size: 1rem;
    width: 8.3rem;
}
.example-list {
    display: block;
    overflow: hidden;
  }
  .example-box {
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    cursor:move;
    background: white;
  }
  .cdk-drag-preview {
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  .cdk-drag-preview .container {
    display: flex;
    justify-content: center;
  }
  .cdk-drag-preview .content {
    font-size: 1.3rem;
  }
  .cdk-drag-preview .name-icons{
    display: flex;
    align-items: flex-end;
}
.cdk-drag-preview .name-icons p{
    margin-left: 0;
}
.cdk-drag-preview .name-icons .icons{
    display: flex;
    margin-right: 0;
}
  .cdk-drag-preview .edit,
  .cdk-drag-preview .delete {
    display: flex;
    margin-top: 10px;
    margin-right: 0;
    font-size: 30px;
    background-color: white;
    border-style: hidden;
    transition: .2s;
    padding: 0rem .5rem .2rem .5rem;
    align-items: center;
  }
  .cdk-drag-preview .type{
    margin-top: 1rem;
    width: 20rem;
}
.cdk-drag-preview .percentage{
    padding-bottom: 1rem;
}
.cdk-drag-preview .bar{
    background-color: rgb(184, 184, 184);
    margin-left: 0;
    width: 18rem;
    border-radius: 1rem;
}
.cdk-drag-preview .progressPercentage{
    padding: .25rem;
    background-color: #43b600;
    width: 0%;
    margin-left: 0;
    border-radius: 1rem;
}
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }