<section class="education">
    <h2 class="title">Education</h2>
    <div class="container">
        <img class="logo" src="assets/img/education/DHLogo.png" alt="DHLogo">
        <div class="content">
          <h3>Backend Specialist (Certified Tech Developer)</h3>
          <h4>Mercado Libre and Globant together with Digital House (Buenos Aires, Argentina)</h4>
          <h4>July, 2022 - July, 2023</h4>
          <ul>
            <li>Cryptography, security, data management y design patterns.</li>
          </ul>
        </div>
    </div>
    <div class="container">
      <img class="logo" src="assets/img/education/DHLogo.png" alt="DHLogo">
      <div class="content">
        <h3>Certified Tech Developer</h3>
        <h4>Mercado Libre and Globant together with Digital House (Buenos Aires, Argentina)</h4>
        <h4>July, 2021 - July, 2022</h4>
        <ul>
          <li>Digital fundamentals, Front-End, Back-End, infrastructure, database, learning agility, teamwork, time management, 
            effective communication and professional attitude.</li>
        </ul>
      </div>
  </div>
  <div class="container">
    <img class="logo" src="assets/img/education/UNRNLogo.png" alt="UNRNLogo">
    <div class="content">
      <h3>Computer Engineering</h3>
      <h4>Universidad Nacional de Rio Negro (Rio Negro, Argentina)</h4>
      <h4>March, 2021 - July, 2021</h4>
      <ul>
        <li>Research in computer science and provide answers to the changing needs of productive and technological development.</li>
      </ul>
    </div>
</div>
  </section>
