<section class="education">
  <div class="top">
    <h2 class="title">Education</h2>
    <button class="add" (click)="add = true" *ngIf="isLoggedIn"><img src="../../../assets/img/icons/Add.png" alt="EditButton"></button>
  </div>
  <div class="content add-form" *ngIf="add">
    <form (submit)="addEducation()">
      <label for="logoUrl">Logo URL</label>
          <input
          id="logoUrl"
            type="text" 
          />
      <div class="top">
        <div>
          <label for="career">Career</label>
          <input
          id="career"
            type="text" 
          />
        </div>
        <div>
          <label for="institute">Institute</label>
          <input
          id="institute"
            type="text" 
          />
        </div>
      </div>
      <div class="sub">
        <div>
          <label for="entryDate">Entry date</label>
          <input
          id="entryDate"
            type="date" 
          />
        </div>
        <div>
          <label for="exitDate">Exit date</label>
          <input
          id="exitDate"
            type="date" 
          />
        </div>
      </div>
      
      <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>
        <div class="options">
          <button class="save" type="submit">Save</button>
          <button class="cancel" (click)="add = false">Cancel</button>
        </div>
    </form>
  </div>
      <div *ngFor="let education of data">
        <div class="container" >
          <img class="logo" src="{{education.logoUrl}}" alt="Logo">
          <div class="content">
            <h3>{{education.career}}</h3>
            <h4>{{education.institute}}</h4>
            <h4>{{education.entryDate}} - {{education.exitDate}}</h4>
            <ul *ngFor="let item of this.education.description.split('\n')">
              <li>{{item}}</li>
            </ul>
          </div>
          <div class="icons" *ngIf="isLoggedIn">
            <button class="edit" (click)="edit = true; idEdit = education.id"><img src="../../../assets/img/icons/Edit.png" alt="EditButton"></button>
            <button class="delete" [swal]="{ title: 'Do you want delete education?', text: 'You wont be able to revert this!', icon:'warning',showCancelButton: true, confirmButtonColor: '#3085d6',cancelButtonColor: '#d33', confirmButtonText: 'Yes, delete it!'}"
            (confirm)="deleteEducation(education.id)"
            ><img src="../../../assets/img/icons/Delete.png" alt="EditButton"></button>
          </div>
        </div>
        <div class="container" *ngIf="edit && idEdit==education.id">
          <div class="content">
            <form (submit)="updateEducation()">
              <input
              id="id"
                value="{{ education.id }}" 
                type="text" 
                readonly
              />
              <label for="logoUrl">Logo URL</label>
              <input
          id="logoUrl"
            type="text" 
            defaultValue="{{ education.logoUrl }}"
          />
              <div class="top">
                <div>
                  <label for="career">Career</label>
                  <input
                  id="career"
                    defaultValue="{{ education.career }}" 
                    type="text" 
                  />
                </div>
                <div>
                  <label for="institute">Institute</label>
                  <input
                  id="institute"
                    defaultValue="{{ education.institute }}" 
                    type="text" 
                  />
                </div>
              </div>
              <div class="sub">
                <div>
                  <label for="entryDate">Entry date</label>
                  <input
                  id="entryDate"
                    defaultValue="{{ education.entryDate }}" 
                    type="date" 
                  />
                </div>
                <div>
                  <label for="exitDate">Exit date</label>
                  <input
                  id="exitDate"
                    defaultValue="{{ education.exitDate }}" 
                    type="date" 
                  />
                </div>
              </div>
              
              <label for="description">Description</label>
                <textarea name="description" id="description" defaultValue="{{ education.description }}"></textarea>
                <div class="options">
                  <button class="save" type="submit">Save</button>
                  <button class="cancel" (click)="edit = false">Cancel</button>
                </div>
            </form>
          </div>
      </div>
    </div>
  </section>
