<section class="info">
  <img class="banner"  src="{{ data.bannerUrl }}" alt="Banner" />
  <img class="profile" src="{{ data.profileUrl }}" alt="Profile" />
  <div class="personal" *ngIf="editInfo">
    <form (submit)="updateInfo()">
      <label for="profileUrl">Profile image URL</label>
      <input
      id="profileUrl"
        defaultValue="{{ data.profileUrl }}"
        type="text"
      />
      <label for="bannerUrl">Banner image URL</label>
      <input
      id="bannerUrl"
        defaultValue="{{ data.bannerUrl }}"
        type="text"
      />
      <label for="firstName">First Name</label>
      <input
      id="firstName"
        class="name"
        defaultValue="{{ data.firstName }}"
        type="text"
      />
      <label for="lastName">Last Name</label>
      <input
      id="lastName"
        class="name"
        defaultValue="{{ data.lastName }}"
        type="text"
      />
      <label for="job">Job</label>
      <input 
      id="job"
        class="job"
        defaultValue="{{ data.job }}" 
        type="text" 
      />
      <label for="ubication">Ubication</label>
      <input
      id="ubication"
        class="ubication"
        defaultValue="{{ data.ubication }}" 
        type="text" 
      />
      <button class="save" type="submit">Save</button>
    </form>
  </div>
  <div class="personal" *ngIf="!editInfo">
    <h2 class="name">{{ data.firstName }} {{ data.lastName }}</h2>
    <h3 class="job">{{ data.job }}</h3>
    <h4 class="ubication">{{ data.ubication }}</h4>
    <button class="edit" (click)="editInfo = true" *ngIf="isLoggedIn"><img src="../../../assets/img/icons/Edit.png" alt="EditButton"></button>
  </div>
</section>
<section class="about">
  <div class="top">
      <h2 class="title" >About me</h2>
      <button class="edit-about" (click)="editAbout = true" *ngIf="!editAbout && isLoggedIn"><img src="../../../assets/img/icons/Edit.png" alt="EditButton"></button>
      <button class="save-about" (click)="updateInfo()" *ngIf="editAbout">Save</button>
  </div>
  <div class="container" *ngIf="!editAbout">
      <p *ngFor="let item of this.description.split('\n')">{{item}}</p>
  </div>
  <div class="container" *ngIf="editAbout">
      <textarea name="description" id="description" defaultValue="{{ data.description }}"></textarea>
  </div>
</section>