<section class="languages">
    <h2 class="title">Languages</h2>
    <div class="container">
        <img class="logo" src="assets/img/languages/SpanishLogo.png" alt="SpanishLogo">
        <div class="content">
          <h3>Spanish</h3>
          <ul>
            <li>Native</li>
          </ul>
        </div>
    </div>
    <div class="container">
      <img class="logo" src="assets/img/languages/EnglishLogo.png" alt="EnglishLogo">
      <div class="content">
        <h3>English</h3>
        <ul>
          <li>B2 UPPER INTERMEDIATE (EF Standard English Test 60/100)</li>
        </ul>
      </div>
  </div>
  </section>
