<section class="languages">
  <div class="top">
    <h2 class="title">Languages</h2>
    <button class="add" (click)="add = true" *ngIf="isLoggedIn"><i class="fa-solid fa-circle-plus"></i></button>
  </div>
  <div class="content add-form" *ngIf="add">
    <form (submit)="addLanguage()">
          <div class="add-input">
            <label for="language">Language</label>
            <select name="language" id="language" required>
              <option value="" selected hidden disabled>Select a language</option>
              <option value="English">English</option>
              <option value="Spanish">Spanish</option>
              <option value="French">French</option>
              <option value="Portuguese">Portuguese</option>
            </select>
          </div>
          <div class="add-input">
            <label for="description">Description</label>
            <input
            id="description"
              type="text" 
            />
          </div>
        <div class="options">
          <button class="save" type="submit">Save</button>
          <button class="cancel" (click)="add = false">Cancel</button>
        </div>
    </form>
  </div>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" [style.cursor]="isLoggedIn?'move':'auto'" *ngFor="let language of data" cdkDragBoundary=".example-list" cdkDragLockAxis="y" cdkDrag [cdkDragDisabled]="isLoggedIn?false:true">
        <div class="container">
          <img class="logo" src="assets/img/languages/{{language.type}}Logo.png" alt="{{language.type}}Logo">
          <div class="content">
            <h3>{{language.type}}</h3>
            <ul>
              <li>{{language.description}}</li>
            </ul>
          </div>
          <div class="icons" *ngIf="isLoggedIn">
            <button class="edit" (click)="edit = true; idEdit = language.id"><i class="fa-solid fa-pencil"></i></button>
            <button class="delete" [swal]="{ title: 'Do you want delete language?', text: 'You wont be able to revert this!', icon:'warning',showCancelButton: true, confirmButtonColor: '#3085d6',cancelButtonColor: '#d33', confirmButtonText: 'Yes, delete it!'}"
            (confirm)="deleteLanguage(language.id)"
            ><i class="fa-solid fa-trash-can"></i></button>
          </div>
      </div>
      <div class="container" *ngIf="edit && idEdit==language.id">
        <div class="content">
          <form (submit)="updateLanguage()">
            <input
            id="id"
            class="hide"
              value="{{ language.id }}" 
              type="text" 
              readonly
            />
              <div class="edit-input">
                <label for="language">Language</label>
                <select name="language" id="language" required value={{language.type}}>
                  <option value="English">English</option>
                  <option value="Spanish">Spanish</option>
                  <option value="French">French</option>
                  <option value="Portuguese">Portuguese</option>
                </select>
              </div>
              <div class="edit-input">
                <label for="description">Description</label>
                <input
                id="description"
                  defaultValue="{{ language.description }}" 
                  type="text" 
                />
              </div>
              <div class="options">
                <button class="save" type="submit">Save</button>
                <button class="cancel" (click)="edit = false">Cancel</button>
              </div>
          </form>
        </div>
    </div>
    </div>
    </div>
  </section>
