<header>
    <a class="title" routerLink="/">
      <img
        class="logo"
        src="assets/img/header/ArgentinaProgramaLogo.png"
        alt="ArgentinaProgramaLogo"
      />
      <h2>Argentina Programa</h2>
    </a>
    <div class="login">
      <div class="social">
        <a target="_blank" href="https://www.linkedin.com/in/mauricioboye/"><img class="socialMedia" src="assets/img/icons/LinkedIn.png" alt="LinkedIn" /></a>
        <a target="_blank" href="mailto:mauriboye@gmail.com"><img class="socialMedia" src="assets/img/icons/Gmail.png" alt="Gmail" /></a>
        <a target="_blank" href="https://github.com/MauriBoye"><img class="socialMedia" src="assets/img/icons/Github.png" alt="Github" /></a>  
      </div>
      <a class="button" routerLink="/login"><h3>Login</h3></a>
    </div>
  </header>