<footer>
    <section class="top">
      <div class="container">
        <a target="_blank" href="https://www.linkedin.com/in/mauricioboye/"><img class="socialMedia" src="assets/img/icons/LinkedIn.png" alt="LinkedIn" />
          <p>LinkedIn</p></a>
          <a target="_blank" href="mailto:mauriboye@gmail.com"><img class="socialMedia" src="assets/img/icons/Gmail.png" alt="Gmail" />
            <p>Gmail</p></a>
          <a target="_blank" href="https://github.com/MauriBoye"><img class="socialMedia" src="assets/img/icons/Github.png" alt="Github" />
            <p>Github</p></a>
      </div>
    </section>
    <section class="sub">
      <p>©2022 Copyright</p>
    </section>
  </footer>
