<section class="skills">
    <h2 class="title">Skills</h2>
    <div class="container">
      <div class="type">
        <h3>Front-End</h3>
        <div class="content">
          <div class="percentage">
            <p>Javascript</p>
            <div class="bar">
              <p class="progress50percentage">50%</p>
            </div>
          </div>
          <div class="percentage">
            <p>HTML</p>
            <div class="bar">
              <p class="progress70percentage">70%</p>
            </div>
          </div>
          <div class="percentage">
            <p>CSS</p>
            <div class="bar">
              <p class="progress70percentage">70%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="type">
        <h3>Back-End</h3>
        <div class="content">
          <div class="percentage">
            <p>Java</p>
            <div class="bar">
              <p class="progress50percentage">50%</p>
            </div>
          </div>
          <div class="percentage">
            <p>MySQL</p>
            <div class="bar">
              <p class="progress70percentage">70%</p>
            </div>
          </div>
          <div class="percentage">
            <p>Python</p>
            <div class="bar">
              <p class="progress30percentage">30%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="type">
        <h3>Soft</h3>
        <div class="content">
          <div class="percentage">
            <p>Design thinking</p>
            <div class="bar">
              <p class="progress60percentage">60%</p>
            </div>
          </div>
          <div class="percentage">
            <p>Teamwork</p>
            <div class="bar">
              <p class="progress90percentage">90%</p>
            </div>
          </div>
          <div class="percentage">
            <p>Creativity</p>
            <div class="bar">
              <p class="progress80percentage">80%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="type">
        <h3>Tools</h3>
        <div class="content">
          <div class="percentage">
            <p>Git</p>
            <div class="bar">
              <p class="progress50percentage">50%</p>
            </div>
          </div>
          <div class="percentage">
            <p>Postman</p>
            <div class="bar">
              <p class="progress60percentage">60%</p>
            </div>
          </div>
          <div class="percentage">
            <p>Figma</p>
            <div class="bar">
              <p class="progress40percentage">40%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
