<footer>
    <section class="top">
      <div class="container">
        <a target="_blank" href="https://www.linkedin.com/in/mauricioboye/"
            ><i class="fa-brands fa-linkedin socialMedia"></i>
          <p>LinkedIn</p></a>
          <a target="_blank" href="https://github.com/MauriBoye"
            ><i class="fa-brands fa-github socialMedia"></i>
            <p>Github</p></a>
          <a target="_blank" href="mailto:mauriboye@gmail.com"
            ><i class="fa-solid fa-envelope socialMedia"></i>
            <p>Gmail</p></a>
      </div>
    </section>
    <section class="sub">
      <p>©2022 Copyright</p>
    </section>
  </footer>
